body{
    background-color:red
}
nav a{
    color:white
}
article p{
    color:whitesmoke
}
article h1{
    color:whitesmoke
}
article h2{
    color:whitesmoke
}
#idex{
  background-image: url(http://cdn.wallwuzz.com/uploads/game-backgrounds-background-wallpaper-wallpapers-wallwuzz-hd-wallpaper-15661.jpg)
}
   


#tech body {
   background-image: url (http://images6.fanpop.com/image/photos/34500000/Gengar-pokemon-34578914-1200-1200.png)
}

    

    

           